.page-header {
    background: #f7f7f7;
    padding: 0.2rem 0;
    margin-bottom: $xs-size;
}

.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: 500;
    }
}

.page-header__actions {
    margin-top: 0.5rem;
}